<!-- admin_orders_by_status.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders - {{ status }} Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .order-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
        #btn-home{
            margin-left: 35%;
            margin-top: 20px;
            width: 30%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ status }} Orders</h1>
        <div class="row">
            {% for order in orders %}
            <div class="col-md-4">
                <div class="order-card">
                    <h5>Order ID: {{ order.id }}</h5>
                    <p>Order Date: {{ order.order_date }}</p>
                    <p>Status: {{ order.status }}</p>
                    <form method="post" action="{% url 'update_order_status' order.id %}">
                        {% csrf_token %}
                        <select name="status">
                            <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Accepted" {% if order.status == 'Accepted' %}selected{% endif %}>Accepted</option>
                            <option value="Rejected" {% if order.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                            <option value="Processing" {% if order.status == 'Processing' %}selected{% endif %}>Processing</option>
                            <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="button-home">
            <a href="{% url 'admin_home' %}"><button class="btn btn-primary" id="btn-home">Go To Home</button></a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
