<style>
    .table{
        /* margin-top: 20px; */
        margin: 15px 70px;
        width: 50%;
        text-align: center;
    }

    table, th, td{
        border: 2px solid black; 
        border-collapse: collapse;
    }
</style>
{% extends 'base.html' %}

{% block content %}
<h1>My Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date (IST)</th>
            <th>Status</th>
            <th>Products</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.order_date|date:"d M Y H:i:s" }}</td>
            <td>{{ order.status }}</td>
            <td>
                <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product }} - Quantity: {{ item.quantity }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {% if order.status != 'Cancelled' %}
                <form action="{% url 'cancel_order' order.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
